/* FONT STACK */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	/*font-weight:normal;*/
	font-size: 12px;
	font-family: Tahoma;
	vertical-align: baseline;
}

.clearfix {
	display: block
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

img {
	border: none;
}

h1,h2,h3,h4,h5,h6 {
	line-height: 1.1;
	color: #0c79a2;
}

/* BASE LAYOUT */
html {
	background-color: #ddd;
	background-image: -moz-linear-gradient(center top, #aaa, #ddd);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa),
		color-stop(1, #ddd) );
	background-image: linear-gradient(top, #aaa, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=    '#aaaaaa',
		EndColorStr=    '#dddddd' );
	background-repeat: no-repeat;
	height: 100%;
	/* change the box model to exclude the padding from the calculation of 100% height (IE8+) */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html.no-cssgradients {
	background-color: #aaa;
}

.ie6 html {
	height: 100%;
}

html * {
	margin: 0;
}

body {
	background: #ffffff;
	color: #333333;
	margin: 0 auto;
	max-width: 960px;
	overflow-x: hidden;
	/* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
	-moz-box-shadow: 0 0 0.3em #2c2c2c;
	-webkit-box-shadow: 0 0 0.3em #2c2c2c;
	box-shadow: 0 0 0.3em #2c2c2c;
}

#grailsLogo {
	background-color: #abbf78;
}

/* replace with .no-boxshadow body if you have modernizr available */
.ie6 body,.ie7 body,.ie8 body {
	border-color: #255b17;
	border-style: solid;
	border-width: 0 1px;
}

.ie6 body {
	height: 100%;
}

a:link,a:visited {
	color: #0c79a2;
	text-decoration: none;
}

a:hover,a:active {
	color: #2c2c2c;
	outline: none;
	/* prevents outline in webkit on active links but retains it for tab focus */
}

h1 {
	color: #0c79a2;
	font-weight: normal;
	font-size: 24px;
	margin: 0.8em 0 0.3em 0;
}

h2 {
	color: #0c79a2;
	font-weight: normal;
	font-size: 18px;
	margin: 0.8em 0 0.3em 0;
}

ul {
	padding: 0;
}

img {
	border: 0;
}

/* GENERAL */
#grailsLogo a {
	display: inline-block;
	margin: 1em;
}

#wrappar {
	width: 954px;
	margin: 0 auto;
	padding: 0px;
	background-color: #fff;
}

#main-container {
	width: auto;
	margin: 0px 10px;
}

.header-con {
	height: 60px;
	padding: 0px;
	position: relative;
}

.logo {
	width: 934px;
	padding: 2px 0px 0px 0px;
	border-bottom: solid 1px #e7e7e7;
}

.welcme {
	width: 400px;
	float: left;
	text-align: center;
	color: #0c79a2;
	padding: 11px 0px 0px 0px;
	font-weight: normal;
	font-size: 18px;
	margin: 0.8em 0 0.3em 0;
}

.body-con {
	width: auto;
	/*height:400px;*/
	padding: 0px;
	margin-top: 18px;
}

.form-con {
	width: 490px;
	padding: 0px;
	margin: 18px auto 0px auto;
}

.navi-con {
	width: auto;
	height: 34px;
	padding: 0px;
	margin-top: 12px;
	background: #ccc;
}

.navi-con ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.label-row {
	width: auto;
	padding: 0px;
	/*margin-top: 16px;*/
	overflow: hidden;
}

.label-row label {
	width: 145px;
	float: left;
	display: block;
	line-height: 34px;
	text-align: right;
	margin-right: 10px;
}

.button-con {
	padding-left: 140px;
	margin-top: 16px;
}

.label-row input,select,textarea,option {
	float: left;
	/*padding-left:5px;*/
	display: block;
	outline: none;
	font-size: 12px;
	font-family: Tahoma;
	font-weight: normal;
	vertical-align: middle;
}

.txt-field,.txt-fieldn {
	background: #EEEEEE;
	width: 244px;
	padding: 0px 8px;
	border: none;
	line-height: 30px\0/;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16) inset;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 30px;
	border: 1px solid #C1C1C1;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16) inset;
	font: normal 12px Tahoma;
}

.footer-con {
	width: auto;
	background: #ccc;
	height: 52px;
	margin-top: 18px;
}

.footer-copytxt {
	font-size: 11px;
	color: #333;
	text-align: center;
	line-height: 50px;
}

.content h1 {
	border-bottom: 1px solid #CCCCCC;
	margin: 0.8em 1em 0.3em;
	padding: 0 0.25em;
}

.tbl-data {
	padding: 0px;
	width: 100%;
}

.tbl-data th {
	background-color: #C4D8B3;
	padding: 10px 0px 10px 8px;
	text-align: left;
	font-weight: bold;
	font-size: 12px;
	color: #000;
}

.tbl-data th a {
	color: #000;
	font-weight: bold;
	font-size: 12px;
}

.tbl-data td {
	padding: 6px 0px 6px 8px;
	text-align: left;
	border-bottom: solid 1px #ccc;
}

.edit {
	background: url(../images/edit-icon.png) no-repeat;
	width: 24px;
	height: 20px;
	padding-left: 20px;
	/* font:normal 12px Tahoma;*/
	color: #000;
	display: block;
}

.delete {
	background: url(../images/delete-icon.png) no-repeat;
	width: 30px;
	height: 20px;
	padding-left: 20px;
	/* font:normal 12px Tahoma;*/
	color: #000;
	display: block;
}

.actions-tbl {
	width: 100%;
	border: none;
}

.actions-tbl td {
	border: none;
	padding: 0px;
}

.scaffold-list h1 {
	border: none;
}

.footer {
	background: #abbf78;
	color: #000;
	clear: both;
	font-size: 0.8em;
	margin-top: 1.5em;
	padding: 1em;
	min-height: 1em;
}

.footer a {
	color: #255b17;
}

.spinner {
	background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
	height: 16px;
	width: 16px;
	padding: 0.5em;
	position: absolute;
	right: 0;
	top: 0;
	text-indent: -9999px;
}

/* NAVIGATION MENU */
.nav {
	background-color: #efefef;
	padding: 0.5em 0.75em;
	-moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	box-shadow: 0 0 3px 1px #aaaaaa;
	zoom: 1;
}

.nav ul {
	overflow: hidden;
	padding-left: 0;
	zoom: 1;
}

.nav li {
	display: block;
	float: left;
	list-style-type: none;
	margin-right: 0.5em;
	padding: 0;
}

.nav a {
	color: #666666;
	display: block;
	padding: 0.25em 0.7em;
	text-decoration: none;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	border-radius: 0.3em;
}

.nav a:active,.nav a:visited {
	color: #666666;
}

.nav a:focus,.nav a:hover {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .nav a:focus,.no-borderradius .nav a:hover {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.nav a.home,.nav a.list,.nav a.create {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.nav a.home {
	background-image: url(../images/skin/house.png);
}

.nav a.list {
	background-image: url(../images/skin/database_table.png);
}

.nav a.create {
	background-image: url(../images/skin/database_add.png);
}

/* CREATE/EDIT FORMS AND SHOW PAGES */
fieldset,.property-list {
	margin: 0.6em 1.25em 0 1.25em;
	padding: 0.3em 1.8em 1.25em;
	position: relative;
	zoom: 1;
	border: none;
}

.property-list .fieldcontain {
	list-style: none;
	overflow: hidden;
	zoom: 1;
}

.fieldcontain {
	margin-top: 1em;
}

.fieldcontain label,.fieldcontain .property-label {
	color: #666666;
	text-align: right;
	width: 25%;
}

.fieldcontain .property-label {
	float: left;
}

.fieldcontain .property-value {
	display: block;
	margin-left: 27%;
}

label {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0 0;
}

input,select,textarea {
	background-color: #fcfcfc;
	border: 1px solid #cccccc;
	font-size: 1em;
	padding: 0.2em 0.4em;
}

select {
	padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
	vertical-align: top;
}

textarea {
	width: 250px;
	height: 150px;
	overflow: auto; /* IE always renders vertical scrollbar without this */
	vertical-align: top;
}

input[type=checkbox],input[type=radio] {
	background-color: transparent;
	border: 0;
	padding: 0;
}

input:focus,select:focus,textarea:focus {
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	outline: 0;
	-moz-box-shadow: 0 0 0.5em #ffffff;
	-webkit-box-shadow: 0 0 0.5em #ffffff;
	box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
	color: #48802C;
	display: inline-block;
	font-weight: bold;
	margin-left: 0.3em;
	position: relative;
	top: 0.1em;
}

ul.one-to-many {
	display: inline-block;
	list-style-position: inside;
	vertical-align: top;
}

.ie6 ul.one-to-many,.ie7 ul.one-to-many {
	display: inline;
	zoom: 1;
}

ul.one-to-many li.add {
	list-style-type: none;
}

/* EMBEDDED PROPERTIES */
fieldset.embedded {
	background-color: transparent;
	border: 1px solid #CCCCCC;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

fieldset.embedded legend {
	margin: 0 1em;
}

/* MESSAGES AND ERRORS */
.errors,.message {
	font-size: 0.8em;
	line-height: 2;
	margin: 1em 2em;
	padding: 0.25em;
}

.message {
	background: #f3f3ff;
	border: 1px solid #b2d1ff;
	color: #006dba;
	-moz-box-shadow: 0 0 0.25em #b2d1ff;
	-webkit-box-shadow: 0 0 0.25em #b2d1ff;
	box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
	background: #fff3f3;
	border: 1px solid #ffaaaa;
	color: #cc0000;
	-moz-box-shadow: 0 0 0.25em #ff8888;
	-webkit-box-shadow: 0 0 0.25em #ff8888;
	box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,.message {
	padding: 0;
}

.errors li {
	list-style: none;
	background: transparent url(../images/skin/exclamation.png) 0.5em 50%
		no-repeat;
	text-indent: 2.2em;
}

.message {
	background: transparent url(../images/skin/information.png) 0.5em 50%
		no-repeat;
	text-indent: 2.2em;
}

/* form fields with errors */
.error input,.error select,.error textarea {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

.error input:focus,.error select:focus,.error textarea:focus {
	-moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */
input:invalid,select:invalid,textarea:invalid {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

input:invalid:focus,select:invalid:focus,textarea:invalid:focus {
	-moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	box-shadow: 0 0 0.5em #ffaaaa;
}

/* TABLES */
table {
	border-top: 1px solid #DFDFDF;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

tr {
	border: 0;
}

tr>td:first-child,tr>th:first-child {
	padding-left: 1.25em;
}

tr>td:last-child,tr>th:last-child {
	padding-right: 1.25em;
}

td,th {
	line-height: 1.5em;
	padding: 0.5em 0.6em;
	text-align: left;
	vertical-align: top;
}

th {
	background-color: #efefef;
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff),
		color-stop(1, #eaeaea) );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=    '#ffffff',
		EndColorStr=    '#eaeaea' );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
	color: #666666;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.2em 0.6em;
}

thead th {
	white-space: nowrap;
}

th a {
	display: block;
	text-decoration: none;
}

th a:link,th a:visited {
	color: #666666;
}

th a:hover,th a:focus {
	color: #333333;
}

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background: #f7f7f7;
}

.even {
	background: #ffffff;
}

th:hover,tr:hover {
	background: #E1F2B6;
}

/* PAGINATION */
.pagination {
	border-top: 0;
	margin: 0;
	padding: 0.3em 0.2em;
	text-align: center;
	-moz-box-shadow: 0 0 3px 1px #AAAAAA;
	-webkit-box-shadow: 0 0 3px 1px #AAAAAA;
	box-shadow: 0 0 3px 1px #AAAAAA;
	background-color: #EFEFEF;
}

.pagination a,.pagination .currentStep {
	color: #666666;
	display: inline-block;
	margin: 0 0.1em;
	padding: 0.25em 0.7em;
	text-decoration: none;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	border-radius: 0.3em;
}

.pagination a:hover,.pagination a:focus,.pagination .currentStep {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover,.no-borderradius .pagination a:focus,.no-borderradius .pagination .currentStep
	{
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

/* ACTION BUTTONS */
.buttons {
	background-color: #efefef;
	overflow: hidden;
	padding: 0.3em;
	-moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	box-shadow: 0 0 3px 1px #aaaaaa;
	margin: 0.1em 0 0 0;
	border: none;
}

.buttons input,.buttons a {
	background-color: transparent;
	border: 0;
	color: #666666;
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0;
	overflow: visible;
	padding: 0.25em 0.7em;
	text-decoration: none;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	border-radius: 0.3em;
}

.buttons input:hover,.buttons input:focus,.buttons a:hover,.buttons a:focus
	{
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.no-borderradius .buttons input:hover,.no-borderradius .buttons input:focus,.no-borderradius .buttons a:hover,.no-borderradius .buttons a:focus
	{
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.buttons .delete,.buttons .edit,.buttons .save {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.buttons .delete {
	background-image: url(../images/skin/database_delete.png);
}

.buttons .edit {
	background-image: url(../images/skin/database_edit.png);
}

.buttons .save {
	background-image: url(../images/skin/database_save.png);
}

a.skip {
	position: absolute;
	left: -9999px;
}

.right-navi {
	position: absolute;
	top: 66px;
	right: 20px;
}

.right-navi ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.right-navi li {
	float: left;
	display: block;
	width: auto;
	margin: 6px;
}

.navi_links {

 width:auto;
 height:30px;
 padding:0px;
 margin:0px;
 background:#2c2c2c;
 overflow:hidden;
  position:absolute; 
  top:26px; 
  right:20px;

}

.navi_links ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.navi_links li {
	display: block;
	float: left;
	width: 50px;
	height: 30px;
	line-height: 30px;
	margin: 0px;
	text-align: center;
	border-right: solid 2px #fff;
}

.navi_links li img {
	padding-top: 6px;
}

.navi_links li a {
	display: block;
	float: left;
	width: 50px;
	height: 30px;
	line-height: 30px;
}

.navi_links li a:hover {
	background: #0c79a2;
	width: 50px;
}

.venueConfigstatic {
	width: 120px; font-size : 16px;
	padding: 10px 3px 0px 2px;
	font-size: 16px;
}

.textAreaVenueConfig {
	width: 106px;
	height: 100px;
	overflow: auto;
	vertical-align: top;
}
.venueConfigText{
	margin-top: 40px;
}
.venu-con{
	padding-bottom: 10px;
}
.venu-con #userTimeout{
	float: left;
}
.venu-con .label-row label{
	width:200px;
	margin-top: -12px;
}
.venu-con  .txt-field {
	width: 120px;
}
.venu-con .ybtn{
	margin-left: 400px;
	margin-top: 16px;
	padding: 6px 28px;
	margin-bottom: 10px;
}
.venu-con  .pick   {
	width: 140px;	
}
.mailbody{
	line-height: 30px;
}
.export {
	border: none !important;
	background: none !important;
}

/* Venue Configuration */

.clr {
  clear:both;
}

.left {
	float:left;
}

.right {
	float:right;
}

.margin_btm {
	margin-bottom:15px
}

.main_container {
	margin-top:15px;	
}

.left_container {
	float:left;
	width:230px;
}

.right_container {
	float:right;
	width:680px;
	border:1px solid #e7e7e7;
	padding:5px;
}

.left_panel {
  padding:10px;
}

.left_container ul {
  margin:0px;
  padding:0px;
}

.left_container ul li {
  list-style:none;
  width:auto;
  background: url(../images/gray_img.png);
  background-size:230px; 
}

.left_container li a {
  width:auto;
  display:block;
  padding:5px 0px 5px 0px;
  text-decoration:none;
  color:#fff;
}

.left_container li:hover {
  color:#fff;
  background: url(../images/hover_img.png);
  background-size:230px; 
}

.right_con_leftpart {
	float:left;
	width:125px;
	padding:15px;
}

.right_con_leftpart img {
	width:80px;
	height:100px;
	position:relative;
	z-index:1;
}

.right_con_rightpart {
	float:right;
	width:510px;
	padding:5px;
}

.hrs_text_field {
	width:20px;
	background: #EEEEEE;
	padding: 0px 5px;
	line-height: 25px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16) inset;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 25px;
	border: 1px solid #C1C1C1;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16) inset;
	font: normal 12px Tahoma;
	margin-bottom:15px;
}

.right_con_rightpart textarea {
	width:245px;
	height:100px;
	background: #EEEEEE;
	padding: 0px 5px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16) inset;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #C1C1C1;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16) inset;
}

.right_con_rightpart textarea:focus {
	background: #ffffff;
}
	
.edit_btn {
	width:100px;
	position:relative;
	z-index:2;
	top:-35px;
	left:-8px;
}

.venuconfig_table {
	border:none;
}

.venuconfig_table tr {
	background-color: none;
}

/* Main Header */
.main_navigation {
	background:#424242;
	height:40px;
	font-size:11px;
	color:#ffffff;
	border-bottom:1px solid #e7e7e7;
}

.main_navigation ul {
    float: left;
    padding-left: 12px;
    list-style:none;
}

.main_navigation ul li {
	display: inline;
    float: left;
    font-weight:bold;
    height:40px;
    line-height:40px;
    font-size:11px;
}

.main_navigation ul li a {
    color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 0 22px;
    text-decoration: none;
    text-align:center;
    font-size:11px;
}

.main_navigation ul li:hover {
	background: url(../images/small_btn_bluebg.png) center center no-repeat;
 	font-size:11px;
}

.main_navi_right {
	float:right;
	font-weight:bold;
	height:40px;
	line-height:40px;
	vertical-align:middle;
}

.main_navi_right_divs {
 padding:0px 10px;
 float:left;
 color: #acacac;
 font-size:11px;
}

.main_navi_right_divs a {
 color:#ffffff;
 font-size:11px;
}

.main_navi_right_divs a:hover {
 color: #0c79a2;
 font-weight:bold;
}

.btns {
 float:left;
 padding:2px;
}

.dollar_discount_btn {
 background: url(../images/medium_btn_bluebg.png) center center no-repeat;
 color:#ffffff;
 border-style:none;
 padding:6px 19px;
}

.dollar_discount_btn input {
 font-weight:bold;
}

.general_btn {
 background: url(../images/small_btn_bluebg.png) no-repeat;
 color:#ffffff;
 border-style:none;
 padding:6px 19px; 
}

.general_btn input {
 font-weight:bold;
}

.configure_btn {
 background: url(../images/large_btn_bluebg.png) center center no-repeat;
 color:#ffffff;
 border-style:none;
 padding:15px 22px;
 font-weight:bold;
}